## GAM Assignment

### Protein interaction analysis

_About Dataset:_ _PPT-Ohmnet_tissues-combined.edgelist_ is a collection of physical protein-proteininteraction networks for alarge number of human tissues. Nodes represent humanproteins and edges representtissue-specific physical interactions between proteins.

In [1]:
#import statements
import pandas as pd

Read the dataset from the file

In [2]:
dataset = pd.read_csv('../data/PPT-Ohmnet_tissues-combined.edgelist',delimiter='\t')

Print sample of the dataset

In [3]:
dataset.head()

   # protein1  protein2           tissue
0        4790     79155  urinary_bladder
1       26039      6597  urinary_bladder
2       57154      3309  urinary_bladder
3        6631      9775  urinary_bladder
4        1855      8312  urinary_bladder

Summary of the dataset

In [4]:
dataset.describe()

         # protein1      protein2
count  3.666563e+06  3.666563e+06
mean   1.461240e+04  2.210137e+04
std    2.882536e+05  8.043678e+05
min    2.000000e+00  2.000000e+00
25%    3.065000e+03  3.725000e+03
50%    5.970000e+03  6.646000e+03
75%    1.007500e+04  9.821000e+03
max    1.002872e+08  1.002872e+08